div{
    color:red;
    
background-color:skyblue; 
   text-align:center;

border-style:;
margin-left:130px;
    
 border-radius: 20px;
  
  padding: 20px; 
  width: 500px;
  height: 300px; 
}
body{
    color:black;
background-color:#ACD8D6; 
   text-align:center;

border-style:solid;
    
 border-radius: 25px;
  margin-left:380px;
  padding: 20px; 
  width: 800px;
  height: 500px; 
   }
   i{
  color:blue;
   }
     h1{
 font-family: Courier;
   }