body{
    color:black;
background-color:#ACD8D6; 
   text-align:center;

border-style:solid;
    
 border-radius: 25px;
  
  padding: 20px; 
  width: 900px;
  height: 600px; 
}
div{
   margin-left:300px;
}
h1{
 font-family: Courier;
   }
